@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Pixelify+Sans:wght@400..700&display=swap");

body {
  background-image: url("../images/Background-with-decor.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-repeat: repeat;
  background-position: top left; */
}

h1 {
  font-family: "baloo";
  font-size: 75px;
  color: #2d359d;
  margin-bottom: 5px;
  margin-top: 0px;
}

h3 {
  font-family: "abeezee";
  font-size: 25px;
  text-align: center;
  color: #2d359d;
  margin-top: 5px;
  margin-bottom: 50px;
}

p {
  font-family: "abeezee";
  font-size: 25px;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 200px;
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.login-button {
  padding: 10px 15px;
  font-family: "baloo";
  background-color: #d3d5f8;
  font-size: 20px;
  color: #2d359d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

.login-button:hover {
  background-color: #2d359d;
  color: #d3d5f8;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.site-name {
  text-align: center;
  margin-top: 50px;
}

.content-box {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  background: rgba(226, 234, 251, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-container {
  margin-top: 20px;
}

.dropdown-select {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: "abeezee";
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  color: #888;
}

.dropdown-select:focus {
  outline: none;
  border: 1px solid #2d359d;
}

.dropdown-select option {
  color: #333;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }

  .login-button,
  .login-button:hover {
    font-size: 15px;
  }
}
