@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Pixelify+Sans:wght@400..700&display=swap");

body {
    background-image: url("../images/Background-with-decor.png");
    font-family: ABeeZee;
    color: #2D359D;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
    height: 84px;
}

a {
    text-decoration: none;
  }
  

#logo-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
}

#logo {
    width: 80px;
    height: 70px;
    margin: 0;
}

nav a {
    text-decoration: none;
}

#site-name {
    font-family: "baloo";
    font-size: 40px;
    color: #2D359D;
    margin: auto;
    margin-top: 10px;
}

#boxtitle {
    font-family: baloo;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

.signup-box {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(45, 53, 157, 0.4);
    background-color: rgba(226, 234, 251, 0.85);
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    height: 80%;
    padding: 15px 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.signup-box a {
    color: #2D359D;
    text-decoration: none;
    font-size: 14pt;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.signup-box a:hover {
    color: #1E2678;
}

.signup-box .entertitle {
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
}

.signup-box input {
    font-family: ABeeZee;
    color: #2D359D;
    height: 50px;
    margin: 0;
    max-width: 400px;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 2px solid #7E83C1;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-width: 1.5px;
}

input[type="text"]:focus {
    border-color: #2D359D;
}

.signup-box input[type=submit] {
    font-family: baloo;
    border-radius: 10px;
    background-color: #2D359D;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
}

#create-acc-button:hover {
    background-color: #1E2678;
}

::placeholder {
    color: #7E83C1;
}

#form-fields {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 750px) {

    .login-button,
    .login-button:hover {
        font-size: 15px;
    }

    form {
        width: 90%;
        padding: 20px;
    }
}

/*@media (max-width: 750px) {
    .signup-box {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    #boxtitle {
        font-size: 24pt;
    }

    .signup-box input[type=text] {
        font-size: 16pt;
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }  
        


    input {
        font-size: 14pt;

    }
}