@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Pixelify+Sans:wght@400..700&display=swap");

body {
    background-image: url("../images/Background-with-decor.png");
    font-family: ABeeZee;
    color: #2D359D;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 84px;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    height: 70px;
    margin: 0;
}

#site-name {
    margin: 0;
    margin-left: 20px;
}

nav a {
    font-family: "baloo";
    font-size: 40pt;
    text-decoration: none;
    display: flex;
    margin: 0;
}

nav a:visited {
    color: #2D359D;
}

#boxtitle {
    font-family: baloo;
    font-size: 40pt;
    text-align: center;
    margin-bottom: 0;
}

.signup-box {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(45, 53, 157, 0.4);
    background-color: rgba(226, 234, 251, 0.85);
    justify-content: center;
    display: flex;
    align-items: center;
    width: 800px;
    height: 650px;
    padding: 15px 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.signup-box a {
    color: #2D359D;
    text-decoration: none;
    font-size: 14pt;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.signup-box a:hover {
    color: #1E2678;
}

.signup-box .entertitle {
    font-size: 18pt;
    margin: 10px;
    font-weight: bold;
}

.signup-box input {
    font-family: ABeeZee;
    color: #2D359D;
    height: 50px;
    margin: 0;
}


.signup-box input[type=text] {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    border: solid;
    border-color: #2D359D;
    font-size: 16pt;
    padding-left: 15px;
    width: 585px;
    margin-bottom: 20px;
    border-width: 1.5px;
}

.signup-box input[type=submit] {
    font-family: baloo;
    border-radius: 10px;
    background-color: #2D359D;
    color: white;
    font-size: 23pt;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    width: 600px;
    height: 60px;
}

#create-acc-button:hover {
    background-color: #1E2678;
}

::placeholder {
    color: #7E83C1;
}

@media (max-width: 768px) {
    .signup-box {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    #boxtitle {
        font-size: 24pt;
    }

    .signup-box .entertitle {
        font-size: 16pt;
    }

    input {
        font-size: 14pt;
    }
}